@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Para acessar a parte de filmes, clique aqui: <a href="https://localhost:8080/Movies">Filmes</a></p>
</div>
